node_modules
*.log
.eslintrc
coverage
.dockerignore
Dockerfile
npm-debug.log
.git
.hg
.svn
.env
.prettierrc.js
.env-secrets.yaml
.env-configmap.yaml
app-backend.yaml
app-ingress.yaml
app-service.yaml
